:root {
  /* Fonts */

  --font-black: #000000;
  --font-white: white;
  --btn-color: lightblue;
  --accent-color: gold;

  /* Cell Colors */

  --default-color: blue;
  --active-color: yellow;
  --success-color: green;
  --missed-color: red;
}