.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &__btn {
    min-width: 240px;
    min-height: 80px;
    background-color: var(--btn-color);
    border: 2px solid blue;
    border-radius: 30px;

    &:hover {
      background-color: var(--accent-color);
    }
  }
}